<!DOCTYPE html>
<html>

<head>
  <title>ejs 模板引擎</title>
  <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
</head>

<body>
  <%# <h1>0.注释语法</h1> %>
  <h1>1.引入 Layout</h1>
  <%- include('layouts/header', { param: '我是传入 Layout 的参数' }); %>
  <h1>2.列表渲染</h1>
  <ul>
    <% list.forEach(function(item,index){ %>
    <li>
      <h4>电影名称：</h4>
      <p>
        <%= item.name %>
      </p>
      <h4>简介：</h4>
      <p>
        <%= item.brief %>
      </p>
      <h4>导演：</h4>
      <p>
        <%= item.author %>
      </p>
    </li>
    <% }); %>
  </ul>
  <h1>3.转义和不转义</h1>
  <%= html %>
  <%- html %>
  <%= js %>
  <%- js %>
  <h1>4.条件渲染</h1>
  <% if(flag){ %>
  <p>条件为真时渲染的内容</p>
  <% }else{ %>
  <p>条件为假时渲染的内容</p>
  <% } %>
  <h1>5.Proxy代理</h1>
  <input type="text" placeholder="请输入关键词" id="keywords">
  <button id="btn">搜索</button>
  <div id="content"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
<script>
  $(function() {
    $('#btn').click(() => {
      const keywords = $('#keywords').val()

      axios({
        url: '/api/proxy',
        params: {
          search_text: keywords,
          cat: 1002
        },
        method: 'get'
      }).then(res => {
        $('#content').html('')
        $('#content').html(res.data)
      })
    })
  })
</script>

</html>
